.navbar__cont {
  width: 100%;
  height: 550px;
  /* border: 1px solid red; */
  background-size: 100%;
  background-image: url(https://images.ixigo.com/image/upload/q_80/banner/22dbf3e72984ada5f189e0f0a59fec6b-lfdge.jpg);
  /* background-image: url(https://images.ixigo.com/image/upload/q_80/banner/30a502c2a62b2bdd7ce623f50922343c-xtczk.jpg); */
}
.navbar__cont > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.navbar__header {
  height: 59px;
  display: flex;
  width: 95%;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid red; */
  margin: auto;
  margin-bottom: 100px;
}
.navbar__header > div > a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.774);
  /* color: gray; */
  font-weight: 500;
  line-height: 27.5px;
}
.navbar__header > div > a:hover {
  color: white;
}

.navbar__logo img {
  height: 35px;
}

.navbar__busIcon {
  display: flex;
  width: 30%;
  margin: auto;
  justify-content: space-around;
  align-items: center;
  /* border: 1px solid red; */
  min-height: 50px;
  margin-bottom: 50px;
}

.navbar__busIcon p {
  color: white;
  font-size: 28px;
  font-weight: 600;
}

.navbar__searchCont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 50px;
  padding: 12px 20px 15px 20px;
  background-color: #fff;
  margin: auto;
  border-radius: 10px;
}
.navbar__searchCont > div {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50px;
  /* border: 1px solid green; */
}
.navbar___input {
  display: flex;
}
.navbar___input input {
  width: 260px;
  border: none;
  border-bottom: 1px solid gray;
  padding: 5px 10px;
  outline: none;
}
.navbar___input input:hover {
  border-bottom: 2px solid orangered;
}
.navbar___input button {
  outline: none;
  border: none;
  background-color: #fff;
}
.navbar__searchBtn button {
  width: 196px;
  height: 40px;
  background-color: orangered;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  border: none;
  outline: none;
  text-transform: uppercase;
  margin-left: 50px;
}
.navbar__text {
  font-size: 12px;
  color: gray;
}

.navbar__profilePic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid green;
}
.navbar__offerDiv {
   
    margin-top: 120px;
    margin-left: 40px;
}
